/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Header */
header {
  width: 100vw;
  height: 80px;
  background: #97bf3f;
}

header .logo {
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: 20px;
}

header .logo img {
  height: 60px;
}
