/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Header */
header {
  width: 100vw;
  height: 7vw;
  background: #97bf3f;
}

header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: .5%;
}

header .logo img {
  height: 80%;
}
