/* Carousel */
.categories__title {
  position: absolute;
  width: 100%;
  font-size: 3.2rem;
  color: #f2f2f4;
}

.carousel {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 30px;
}

.carousel__container {
  display: inline-block;
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.carousel--item {
  display: inline-block;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  transform-origin: center left;
  transition: 450ms all;
  position: relative;
}

.carousel--item:hover ~ .carousel--item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel--item {
  opacity: 0.3;
}

.carousel__container:hover .carousel--item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel--item__img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.carousel--item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  font-size: 2rem;
  opacity: 0;
  transition: 450ms opacity;
}

.carousel--item__details i {
  font-size: 1.5rem;
}

.carousel--item__details h2 {
  font-size: 1.6rem;
}

.carousel--item__details h3 {
  font-size: 1.6rem;
  font-weight: lighter;
}

.carousel--item__details:hover,
.carousel--item__details:active {
  opacity: 1;
  color: #f2f2f4;
}

/* ::-webkit-scrollbar {
  
} */
