/* Carousel */
.carousel {
  position: relative;
  width: 100vw;
  overflow: scroll;
  padding: 0 30px;
}

.carousel__container {
  display: inline-block;
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.carousel__item {
  background: #f2f2f4;
  display: inline-block;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  transform-origin: center left;
  transition: 450ms all;
}

.carousel__item:hover ~ .carousel__item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel__item {
  opacity: 0.3;
}

.carousel__container:hover .carousel__item:hover {
  transform: scale(1.5);
  opacity: 1;
}
