/* Carousel */
.carousel {
  position: relative;
  width: 100vw;
  overflow: scroll;
  padding: 0 30px;
}

.carousel__container {
  display: inline-block;
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.carousel--item {
  display: inline-block;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  transform-origin: center left;
  transition: 450ms all;
  position: relative;
}

.carousel--item:hover ~ .carousel--item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel--item {
  opacity: 0.3;
}

.carousel__container:hover .carousel--item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel--item__img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.carousel--item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  font-size: 2rem;
  /* opacity: 0; */
  transition: 450ms opacity;
  padding: 20px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
