/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 120px;
  background: #97bf3f;
}

.footer a {
  padding-left: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
  color: #f2f2f4;
}

.footer a:hover {
  text-decoration: underline;
}
