/* Header */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #121f3d;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 1%;
}

.header__logo--img {
  height: 80%;
}

.header__menu {
  margin-right: 1.5%;
}

.header__menu--profile {
  display: flex;
  align-items: center;
  /* width: 40px; */
  height: 100%;
  margin-right: 5%;
}

.header__menu--profile img {
  width: 100%;
}

.header__menu--profile p {
  margin-left: 10px;
  font-size: 2rem;
}

.header__menu--list {
  display: inline;
  position: absolute;
  list-style: none;
}

.header__menu--list li {
  margin-top: 10px;
}

.header__menu--list li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #f2f2f4;
}

.header__menu--list li a:hover {
  text-decoration: underline;
}
