/* Header */
.header {
  width: 100vw;
  height: 80px;
  background: #121f3d;
}

.header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 0.5%;
}

.header__logo--img {
  height: 80%;
}
