/* Header */
header {
  width: 100vw;
  height: 7vw;
  background: #97bf3f;
}

header .logo {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 0.5%;
}

header .logo img {
  height: 80%;
}
