/* Login */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  min-height: calc(100vh - 200px);
  background: linear-gradient(#121f3d, #97bf3f);
}

.login__container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 700px;
  width: 450px;
  background: #f2f2f41a;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  color: #f2f2f2;
  padding: 60px 68px 40px;
}

.login__container h2 {
  font-size: 3.2rem;
}

.login__container--login {
  display: flex;
  flex-direction: column;
}

.login__container--login label {
  font-size: 1.4rem;
}

.login__container--remember {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #f2f2f2;
  font-size: 1.4rem;
}

.login__container--remember a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #f2f2f2;
}

.login__container--remember a:hover {
  text-decoration: underline;
}

.login__container--social-media > span {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.login__container--social-media > span > i {
  margin-right: 5px;
  font-size: 2rem;
}

.login__container--register {
  font-size: 1.4rem;
}

.login__container--register a {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f4;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  color: #f2f2f4;
}

.btn {
  width: 100%;
  height: 50px;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border: #f2f2f4 solid 2px;
  border-radius: 25px;
  background: #f1f1f31a;
  color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .login__container {
    width: 100%;
    padding: 0;
    background: transparent;
    border: none;
  }
}
