/* Not Found */
.contariner__not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 200px);
  background: linear-gradient(#121f3d, #97bf3f);
}

.contariner__not-found--title {
  font-size: 6.4rem;
}

.contariner__not-found--subtitle {
  font-size: 2.4rem;
}
