/* Search */
.search {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.search__label {
  width: 70%;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #f2f2f4;
}

.input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  font-family: "Mulish", sans-serif;
  background: #f1f1f31a;
  border: #f2f2f4 solid 2px;
  border-radius: 25px;
}

.input::placeholder {
  padding: 10px;
  color: #f2f2f4;
}

